html, body {
    background: #000;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    user-select: none;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body header {
    text-align: center;
    color: #fff;
    padding: 20px 0px;
}

body header h1 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
}

body header legend {
    font-size: 0.8rem;
}

body .title-game {
    background: #333333;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    padding: 10px 0px;
}

body .container {
    height: 400px;
    width: 100%;
    background: #333333;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    padding: 5px;
}

body .container .scoreboard {
    font-size: 5rem;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container .scoreboard span {
    padding: 10px;
    border-bottom: 2px solid #005478;
    border-radius: 2px;
}

body .container .game-area {
    height: 90%;
    width: 100%;
    background: #ff9419;
    outline: 10px solid #333333;
    outline-offset: -5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr
}

.container .game-area .line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game-area .line button {
    background: #333333;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 1px;
    transition-property: background, font-size;
    transition-duration: .3s;
}

.game-area .line button:hover {
    cursor: pointer;
    background: #005478
}

.increase-font {
    transition: font-size .2s;
    font-size: 4rem;
    color: rgb(255, 255, 255, .5);
}

.btn-selected {
    color: #fff;
    transition: font-size .2s;
    font-size: 5.3rem;
}

body footer {
    display: flex;
    justify-content: center;
    border-top: 5px solid #ff9419;
}

.btn {
    margin: 0px 5px;
    width: 200px;
    height: 40px;
    margin-top: 25px;
    font-size: 1.2rem;
    background: #ff9419;
    color: #000;
    border: none;
    box-shadow: 0px 2px #005478;
    border-radius: 2px;
}

.btn:hover {
    cursor: pointer;
    border-radius: 2px;
}

.btn:active {
    position: relative;
    top: 2px;
    box-shadow: 0px 0px #005478;
}

button:disabled {
    cursor: no-drop !important;
    background: #575757 !important;
    color: #333333;
}

.blink {
    animation: blink 1s infinite;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

body .modal {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .5);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

body .modal section {
    height: 200px;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

body .modal section .btn {
    width: 100%;
    margin: 5px 0px;
}

.modal section .btn-link {
    font-size: 1rem;
    margin-top: 20px;
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.modal section .btn-link:hover {
    text-decoration: underline;
}

.modal section .btn-link:active {
    color: #ff9419;
    text-decoration: underline;
}

@keyframes blink {
    10% {
        color: #005478;
    }
    40% {
        color: #ff9419;
    }
    60% {
        color: #575757;
    }
    100% {
        color: #fff;
    }
}

@media (max-width:800px) {
    body .container {
        display: grid;
        grid-template-columns: .5fr 1fr .5fr;
        grid-template-rows: 2fr;
    }
    body, html {
        font-size: 10px;
    }
    body .modal section {
        width: 50%;
        padding: 20px;
    }
    .btn {
        font-size: 2.3rem !important;
    }
    .btn-link {
        font-size: 2rem !important;
    }
}

@media (max-width:460px) {
    body, html {
        font-size: 5px;
    }
    body .modal section {
        width: 100%;
        padding: 20px;
    }
    .btn {
        font-size: 3rem !important;
    }
    .btn-link {
        font-size: 3rem !important;
    }
}